<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calc.ConnectorRevit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Calc.ConnectorRevit.Properties.Settings>
            <setting name="DirectusUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectusEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectusPassword" serializeAs="String">
                <value />
            </setting>
        </Calc.ConnectorRevit.Properties.Settings>
    </userSettings>
</configuration>